<html>
<head><title>{% block sub_title '' %}{% block title 'pagarme checkout' %}</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url('index') }}bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ url('index') }}bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="{{ url('index') }}bower_components/jquery-loading/dist/jquery.loading.css">
    {#<link rel="stylesheet" type="text/css" href="{{ url('index') }}/css/style.css">#}
    {% block stylesheet %}{% endblock stylesheet %}
</head>
<body>
<div id="banner">
    <div>
        <ul class="nav nav-tabs">
            <li><a class="" href="{{ url('index') }}">Boas Vindas</a></li>
            <li><a class="" href="{{ url('admin') }}">1 - Admin</a></li>
            <li><a class="" href="{{ url('shoppingCart') }}">2 - ShoppingCart</a></li>
        </ul>
    </div>
</div>

{% for alert in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    <strong>Sucesso!</strong> {{alert}}
</div>
{% endfor %}
{% for alert in app.session.flashbag.get('info') %}
<div class="alert alert-info">
    <strong>Informativo!</strong> alert
</div>
{% endfor %}
{% for alert in app.session.flashbag.get('warning') %}
<div class="alert alert-warning">
    <strong>Cuidado!</strong> {{alert}}
</div>
{% endfor %}
{% for alert in app.session.flashbag.get('danger') %}
<div class="alert alert-danger">
    <strong>Perigo!</strong> {{alert}}
</div>
{% endfor %}

{% block body %}
{% endblock %}
{% block modal %}
{% endblock %}
</body>
<!-- JavaScripts -->
<script type="application/javascript" src="{{ url('index') }}bower_components/jquery/dist/jquery.js"></script>
<script type="application/javascript" src="{{ url('index') }}bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="application/javascript" src="{{ url('index') }}bower_components/bootbox.js/bootbox.js"></script>
<script type="application/javascript" src="{{ url('index') }}bower_components/bootbox.js/bootbox.js"></script>
<script type="application/javascript" src="{{ url('index') }}bower_components/jquery-loading/dist/jquery.loading.js"></script>
{% block javascript %}{% endblock javascript %}
</html>